Package: com.neoarz.stikjit
Name: StikJIT
Version: 0.0.1
Architecture: iphoneos-arm
Description: jit enabler in a tweak
Maintainer: neoarz
Author: neoarz
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
